.task-filter{
    position: relative;
    width: 100%;
}

.task-remover{
    display:inline-block;
}

.text-input{
    color: white;
}

.sorter-btn{
    display: inline-block;
}

.hidden{
    display: none;
}

.tracker__task__time__new {
    width: 100px;
    text-align: center;
    color: white;
}