.task-filter{
    position: relative;
    width: 100%;
}

.task-remover{
    display:inline-block;
}

.text-input{
    color: white;
}

.sorter-btn{
    display: inline-block;
}

.sorter{
    display:inline-block;
}

.hidden{
    display: none;
}

.tracker__task__time__new {
    width: 100px;
    text-align: center;
    color: white;
    height: 3rem;
}

.task_name_input {
    background-color: gray;
}
@media only screen and (max-width: 1150px){
    .tracker__task__time__new{
        width: 100%;
    }
}


.btn {
    font-weight: 600;
    background-color: #595959;
    border: none;
    color: white;
    padding: 15px 32px 32px;
    text-align: center;
    font-size: 2vh;
    height: 5vh;
    cursor: pointer;
    transition: 0.3s;
    width: auto;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 20px;
    opacity: 90%;
    text-decoration: none;
    margin: 0 auto 1.5rem;
}

.btn-hover:hover {
    background-color: #f0cb00;
    color: white;
    box-shadow: 0 0 40px rgba(240, 203, 0, 0.59);
}

.table-head {
    font-size: 1.5rem;
    width:11.28rem;
    text-align: center;
    font-weight: bold;
}

.table-cell {
    text-align: center;
}

.delete-btn {
    color: white;
    width: 11.3rem;
    height: 3rem;
    background-color: rgba(239, 239, 239, 0.3);
    opacity: 90%;
}